{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <h2>Welcome to V Network</h2>

    <div class="hero-cta social-icons">
        <!-- Facebook -->
        <a href="https://www.facebook.com/share/1G7jZPTuty/" target="_blank" aria-label="Facebook">
            <img src="https://imagizer.imageshack.com/img923/5426/zDhOyv.png" alt="Facebook" class="social-icon">
        </a>

        <!-- Instagram -->
        <a href="https://www.instagram.com/vnewsnetwork?igsh=aHg0bHF0ZDd2MjI4" target="_blank" aria-label="Instagram">
            <img src="https://imagizer.imageshack.com/img922/7529/SLiHjx.jpg" alt="Instagram" class="social-icon">
        </a>

        <!-- YouTube -->
        <a href="https://youtube.com/@vnetworkregd1826?si=-BqiRGiXHr0BiHKl" target="_blank" aria-label="YouTube">
            <img src="https://imagizer.imageshack.com/img924/8207/gVHkYb.png" alt="YouTube" class="social-icon">
        </a>
    </div>
</div>

<div class="grid">
    {% for video in videos %}
    <div class="card">
        <div class="card-content">
            <h3>{{ video.title }}</h3>
            <iframe src="{{ video.url | replace('watch?v=', 'embed/') }}" allowfullscreen></iframe>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
